@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
  font-family:'Nanum+Gothic';
  line-height: 3.2rem;
  letter-spacing: 0.05rem;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 4rem;
  margin-bottom: 2.2rem;
}

p {
  font-size: 1.8rem;
  margin: 1rem;
}

blockquote {
  font-size: 1.2rem;
  margin: 2rem;
}
