@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
  font-family:'Nanum+Gothic';
  line-height: 200%;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:50px;
  margin-bottom: 20px;
}

p {
  font-size: 120%;
  margin: 10px;
}

blockquote {
  font-size: 90%;
  margin: 20px;
}
